* {
  padding: 0;
  margin: 0;
}

html {
  min-height: -webkit-fill-available;
}

canvas {
  background: #3662db;
  cursor: none;
  color: aliceblue;
}

body {
  height: 100vh;
  width: 100vw;
  background-color: #455b96;
  color: azure;
  overscroll-behavior: none;
}
