* {
  padding: 0;
  margin: 0;
}

html,
body {
  height: 100%;
}

canvas {
  background: #3662db;
  cursor: none;
  color: aliceblue;
}

body {
  width: 100vw;
  background-color: #455b96;
  color: azure;
  overscroll-behavior: none;
}
